* {
    /* outline: 1px dashed red; */
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    --bg-gradient-start: hsl(252, 100%, 67%);
    --bg-gradient-end: hsl(241, 81%, 54%);
    --circle-gradient-start: hsla(256, 72%, 46%, 1);
    --circle-gradient-end: hsla(241, 72%, 46%, 0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

article {
    max-width: 376px;
}

.result {
    text-align: center;
    border-radius: 0px 0px 35px 35px;
    padding: 16px 28px;
    color: hsl(221, 100%, 96%);
    background-image: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
}

.result > * {
    margin: 0px 0px 16px;
}

.percent {
    border-radius: 50%;
    max-width: min-content;
    padding: 20px 44px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(var(--circle-gradient-start), var(--circle-gradient-end));
}

.percent .obtained {
    font-weight: bold;
    font-size: 3rem;
    display: block;
}

.comparison {
    font-size: 0.9rem;
    padding: 0 16px 8px;
}

h4,
.total,
.comparison {
    color: hsl(241, 100%, 89%);
}

.remarks {
    padding: 8px 0px;
    margin-bottom: -4px;
}

.summary {
    z-index: -1;
    margin-top: -24px;
    padding: 36px 16px;
}

.summary > * {
    padding: 0 16px;
}
