html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    height: 100%;

    --bg-gradient-start: hsl(252, 100%, 67%);
    --bg-gradient-end: hsl(241, 81%, 54%);
    --circle-gradient-start: hsla(256, 72%, 46%, 1);
    --circle-gradient-end: hsla(241, 72%, 46%, 0);
}

body {
    height: 100%;
}

article {
    position: relative;
    z-index: 0;
    max-width: 430px;
    margin: auto;
}

/* styles for the first div in <article> */

.result {
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    padding: 16px 28px;
    color: white;
    background-image: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
    box-shadow: 0px 0px hsl(241, 81%, 54%);
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.result > * {
    margin: 0px 0px 16px;
}

.percent {
    border-radius: 50%;
    max-width: min-content;
    padding: 32px 56px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(var(--circle-gradient-start), var(--circle-gradient-end));
}

.percent .obtained {
    font-weight: bold;
    font-size: 3.5rem;
    display: block;
}

.comparison {
    padding: 0 16px 8px;
    max-width: 40ch;
}

h3,
.total,
.comparison {
    color: hsl(241, 100%, 89%);
}

.remarks {
    padding: 8px 0px;
    margin-bottom: -4px;
}

/* styles for the second div in the <article> */

.summary {
    /* height: 60%; */
    position: relative;
    z-index: -1;
    margin-top: -32px;
    padding: 58px 28px 16px;
    background-color: white;
    background-image: linear-gradient(to top, white 70%, hsl(221, 100%, 96%) 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.summary > h2,
.marks > b {
    color: hsl(224, 30%, 27%);
}

.marks {
    color: hsl(224, 20%, 50%);
}

.summary img {
    display: inline-block;
}

.subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 20px 0px;
    border-radius: 10px;
}

/* styles for the different subjects in the summary div */

.subject.one {
    background-color: hsl(0, 100%, 67%, 0.07);
}

.subject.one .sub-name {
    color: hsl(0, 100%, 67%);
}

.subject.two {
    background-color: hsl(39, 100%, 56%, 0.07);
}

.subject.two .sub-name {
    color: hsl(39, 100%, 56%);
}

.subject.three {
    background-color: hsl(166, 100%, 37%, 0.07);
}

.subject.three .sub-name {
    color: hsl(166, 100%, 37%);
}

.subject.four {
    background-color: hsl(234, 85%, 45%, 0.07);
}

.subject.four .sub-name {
    color: hsl(234, 85%, 45%);
}

.subject .sub-name {
    display: flex;
    gap: 12px;
}

.continue {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-weight: 800;
    font-size: 1.1rem;
    border: none;
    transition: all 0.1s ease;
}

.continue:active {
    cursor: pointer;
    background-image: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
    box-shadow: 1px 3px 6px hsl(0, 0%, 60%);
}

.attribution {
    display: none;
    font-size: 12px;
    text-align: center;
    color: hsl(224, 30%, 27%);
}

.attribution a {
    text-decoration: none;
    color: hsl(241, 81%, 54%);
}

.attribution a:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media (min-width: 500px) {
    body {
        background-color: hsl(221, 100%, 96%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
    }

    article {
        border-radius: 30px;
        max-width: 750px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        box-shadow: 3px 9px 18px hsl(221, 90%, 80%);
    }

    .result {
        border-radius: 30px 30px;
    }

    .summary {
        margin-top: 0px;
        margin-left: -32px;
        padding: 16px 32px 16px 60px;
        border-radius: 0px 30px 30px 0px;
        background-image: none;
    }

    .summary > * {
        margin: 16px 0px;
    }

    .comparison {
        margin-top: -32px;
    }

    .attribution {
        display: block;
        padding: 4px;
    }
}
