* {
    /* outline: 1px dashed red; */
}

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    height: 100%;

    --bg-gradient-start: hsl(252, 100%, 67%);
    --bg-gradient-end: hsl(241, 81%, 54%);
    --circle-gradient-start: hsla(256, 72%, 46%, 1);
    --circle-gradient-end: hsla(241, 72%, 46%, 0);
}

body {
    height: 100%;
    background-color: whitesmoke;
}

article {
    max-width: 430px;
    margin: auto;
    height: 100%;
}

article > .result {
    border-radius: 0px 0px 35px 35px;
}

.result {
    text-align: center;
    padding: 16px 28px;
    color: white;
    background-image: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
    box-shadow: 0px 0px hsl(241, 81%, 54%);
}

.result > * {
    margin: 0px 0px 16px;
}

.percent {
    border-radius: 50%;
    max-width: min-content;
    padding: 20px 44px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(var(--circle-gradient-start), var(--circle-gradient-end));
}

.percent .obtained {
    font-weight: bold;
    font-size: 3.5rem;
    display: block;
}

.comparison {
    padding: 0 16px 8px;
    max-width: 40ch;
}

h4,
.total,
.comparison {
    color: hsl(241, 100%, 89%);
}

.remarks {
    padding: 8px 0px;
    margin-bottom: -4px;
}

.summary {
    position: relative;
    z-index: -1;
    margin-top: -32px;
    padding: 58px 28px 16px;
    background-color: white;
    background-image: linear-gradient(to top, white 70%, hsl(221, 100%, 96%) 90%);
}

.summary > h3,
.marks > b {
    color: hsl(224, 30%, 27%);
}

.marks {
    color: hsl(224, 20%, 50%);
}

.summary img {
    display: inline-block;
}

.subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 20px 0px;
    border-radius: 10px;
}

.subject.one {
    background-color: hsl(0, 100%, 67%, 0.07);
}

.subject.one .sub-name {
    color: hsl(0, 100%, 67%);
}

.subject.two {
    background-color: hsl(39, 100%, 56%, 0.07);
}

.subject.two .sub-name {
    color: hsl(39, 100%, 56%);
}

.subject.three {
    background-color: hsl(166, 100%, 37%, 0.07);
}

.subject.three .sub-name {
    color: hsl(166, 100%, 37%);
}

.subject.four {
    background-color: hsl(234, 85%, 45%, 0.07);
}

.subject.four .sub-name {
    color: hsl(234, 85%, 45%);
}

.subject .sub-name {
    display: flex;
    gap: 12px;
}

.button-container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
    background-color: white;
}

.continue {
    display: block;
    min-width: 90%;
    padding: 16px;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    transition: all 0.3s ease;
    /* margin: ; */
}

.continue:active {
    cursor: pointer;
    background-image: linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
}

.attribution {
    max-height: 3%;
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: white;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
    font-weight: bold;
}
